/*清除浏览器默认样式*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
@font-face {
    font-family: 'iconfont';  /* project id 1019592 */
    src: url('//at.alicdn.com/t/font_1019592_mkcn8l3l29n.eot');
    src: url('//at.alicdn.com/t/font_1019592_mkcn8l3l29n.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1019592_mkcn8l3l29n.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1019592_mkcn8l3l29n.woff') format('woff'),
    url('//at.alicdn.com/t/font_1019592_mkcn8l3l29n.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1019592_mkcn8l3l29n.svg#iconfont') format('svg');
}
i{
    font-family: 'iconfont';
    font-style: normal;
}
.middle-bg{
    background-color: #f5f5f5;
    width: 100%;
    height: 6914px;
    padding-top: 22px;
    z-index: 1;
    margin: 0 auto;
}
/*小米首页导航开始*/
.mi-header{
    width: 100%;
    height: 40px;
    background: #333;
}
.header-content{
    width: 1226px;
    height: 100%;
    /*background: red;*/
    margin: 0 auto;/*只适用于块元素的居中 */
}
.header-nav{
    width: 760px;
    height: 100%;
    float: left;
    font-size: 12px;
    line-height: 40px;
}
.header-nav>a:hover{
    color: #fff;
}
.header-car{
    width: 280px;
    height: 100%;
    float: right;
    font-size: 12px;
    line-height: 40px;
}

/*后代选择器*/
.header-nav a{
    color:#b0b0b0;
    /*font-size: 12px;
    line-height: 40%;*/
}
.header-nav span{
    color: #424242;
    margin: 0 3px;
    /*font-size: 12px;
    line-height: 40px;*/
}
.header-car a{
    color: #b0b0b0;
}
.header-car>a:hover{
     color: #fff;
 }
.header-car span{
    color:#404040;
    margin: 0 3px;
}
#car{
    display: block;
    width: 120px;
    height:100%;
    background: #424242;
    float: right;
    text-align: center;
}
#car>i{
    font-size: 16px;
}
/*小米首页导航结束*/
/*小米首页搜索部分开始*/
.search-box{
    width: 100%;
    height: 100px;
}
.container{
    width: 1226px;
}
.search{
    height: 100%;
    margin: 0 auto;
}
.search-img{
    width:55px;
    height:55px;
    background:orange;
    margin-top:22.5px;/*给子元素设置margin-top会将父元素一起带下来--传说中的倒霉孩子*/
    float: left;
}
.search-img img{
    width: 100%;
    height: 100%;
}
.search-list{
    width: 850px;
    height: 100px;
    float: left;
    padding-left:140px;
    box-sizing:border-box;
}
.search-input{
    width: 295px;
    height: 50px;
    background: #fff;
    float:right;
    margin-top:25px;
}
.search-item{
    color: #333;
    font-size: 16px;
    line-height:100px;
    cursor:pointer;/*将鼠标移入的样式改变成手*/
    float: left;
    padding:0 10px;
}
.item-detail{
    width:100%;
    height:0px;
    background:pink;
    position: absolute;
    left:0;
    top:140px;
    transition: all 0.5s linear;
    z-index: 999;/*定位元素之间存在层级关系，z-index用来调整层级*/
}
.search-item:hover .item-detail{
    height:200px;
}
/*鼠标移入时改变字体颜色*/
.search-item:hover{
    color:#ff6700;
}
.search-input input{
    width: 245px;
    height:100%;
    border:1px solid #e0e0e0;
    box-sizing: border-box;
    outline:none;/*清除选中状态*/
    padding-left:15px;
}
.search-logo{
    width: 50px;
    height:50px;
    border:1px solid #e0e0e0;
    float:right;
    box-sizing:border-box;
    border-left:0;
    text-align: center;
    line-height:50px;
}
.search-logo:hover {
    background: #ff6700;
}
.search-logo:hover i{
     color:#fff;
 }
.search-logo i{
    font-size: 24px;
    color:#616161;
    font-weight:600;
}
/*小米首页搜索部分结束*/
/*小米首页轮播图部分开始*/
.banner-box{
    height:460px;
    background: red;
    margin: 0 auto;
    position: relative;
}
.banner-list{
    height:100%;
    width: 234px;
    background: rgba(0,0,0,0.6);/*颜色的表示方式*/
    padding:20px 0;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top:0;
}
.banner-item{
    width: 100%;
    height: 42px;
    color:#fff;
    font-size: 14px;
    line-height:42px;
    padding-left:30px;
    box-sizing: border-box;
    cursor:pointer;/*将鼠标移入的样式改变成手*/
}
.banner-item-detail{
    width:0;
    height:0;
    background:darkred;
    position: absolute;
    left:0;
    top:140px;
    transition: all 0.5s linear;
}
.banner-item:hover{
    background:#ff6700;
}
.banner-item i{
    float: right;
    margin-right: 30px;
    color:rgba(255,255,255,0.5);
}
/*轮播图列表结束*/
.banner-img{
    width: 100%;
    height:100%;
    background: #00a5c4;
}
.banner-img img{
    width: 100%;
}
.btn-left {
    width: 41px;
    height: 69px;
    position: absolute;
    left: 234px;
    top: 195px;
    /*背景图片*/
    background-image: url(../img/icon-slides.png);
    background-position: 83px 0;
}
.btn-left:hover{
    background-position:0 0;
}
.btn-right{
    width: 41px;
    height: 69px;
    position: absolute;
    right:0;
    top:195px;
    /*背景图片*/
    background-image: url(../img/icon-slides.png);
    background-position: 42px 0;
}
.btn-right:hover{
    background-position:125px 0;
}
.dots{
    width: 100px;
    height: 10px;
    position:absolute;
    right: 50px;
    bottom:20px;
}
.dot{
    width: 10px;
    height:10px;
    border-radius:50%;
    background:#fff;
    float: left;
    margin: 0 5px;
}
.hover{
    background: #00a0ce;
}
/*小米首页轮播图部分结束*/
/*小米闪购开始*/
.flash-box{
    height: 438px;
    margin: 0 auto;
    margin-top:50px;
}
.flash-title{
    width: 100%;
    height:58px;
    position:relative;
}
.flash-title h3{
    color:#333;
    font-size:22px;
    fot-weight:200;
    line-height: 58px;
    font-family: 华文行楷;
}
.btn{
    width: 70px;
    height:25px;
    position:absolute;
    right:0;
    top:17px;
}
.prev{
    width: 35px;
    height:25px;
    line-height: 25px;
    border:1px solid #e0e0e0;
    box-sizing:border-box;
    float: left;
    border-right: 0;
    text-align: center;
}
.prev>i{
    text-align: center;
    font-size: 16px;
    color: #e0e0e0;
}
.next{
    width: 35px;
    height:100%;
    border:1px solid #e0e0e0;
    box-sizing:border-box;
    float: right;
    text-align: center;
}
.next:hover{
    color:#ff6700;

}
.btn img{
    height:15px;
    margin-top: 5px;
}
.flash-bd{
    width: 100%;
    height:340px;
}
.flash-first{
    width: 234px;
    height:340px;
    background: #f1eded;
    border-top:1px solid #e53935;
    box-sizing: border-box;
    text-align: center;
    padding-top: 54px;
    float: left;
}
.flash-first:hover{
    transition: all 0.2s linear;
    box-shadow:0 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0,-2px,0);
}
.flash-first img{
    margin: 25px auto;
}
.flash-first p{
    color: rgba(0,0,0,0.54);
    font-size: 15px;

}
.flash-first h3{
    color:#ef3a3b;
    font-size: 21px;
    font-weight: 400;
}
.time-box{
    width: 168px;
    height:46px;
    margin: 28px auto;
}
.time{
    width: 46px;
    height: 46px;
    background: #605751;
    color: #fff;
    font-size: 24px;
    text-align:center;
    line-height: 46px;
    float: left;
}
.dian{
    width: 15px;
    color: #605751;
    font-size: 28px;
    text-align: center;
    line-height: 46px;
    float: left;
}
.flash-shop{
    width: 992px;
    height: 100%;
    float: right;
}
.flash-shop-item{
    width: 234px;
    height: 100%;
    background: #fff;
    padding-top: 39px;
    box-sizing: border-box;
    border-top: 1px solid #ffac13;
    margin-left: 14px;
    text-align: center;
    float: left;
    position: relative;
}
.flash-shop-item:hover{
    transition: all 0.2s linear;
    box-shadow:0 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0,-2px,0);
}
.flash-shop-item img{
    width: 160px;
    height: 160px;
    margin: 0 auto 22px;
}
.zhezhao{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.02);
    position: absolute;
    left: 0;
    top:0;
}
.flash-shop-item h3{
    color:#212121;
    font-size: 14px;
    font-weight: 400;
    margin: 0 20px 30px;
    overflow: hidden;/*单行文本超出部分省略号表示*/
    text-overflow: ellipsis;
    white-space:nowrap;
}
.desc{
    font-size: 12px;
    color: #b0b0b0;
    margin: 0 20px 12px;
    overflow: hidden;/*单行文本超出部分省略号表示*/
    text-overflow: ellipsis;
    write-space:nowrap;
}
.price{
    color: #ff6709;
    font-size: 14px;
}
.price s{
    color: #b0b0b0;
}
/*小米闪购结束*/
/*小米手机部分开始*/
.phone-box{
    height:686px;/*
    background: #fff;*/
    margin: 0 auto;
}
.phone-title{
    width: 100%;
    height: 58px;
    position: relative;
}
.phone-title h3{
    color: #333;
    font-weight: 200;
    font-size: 22px;
    line-height: 58px;
    font-family: 华文行楷;
    float: left;
}
.phone-title a{
    float: right;
    line-height: 58px;
    color: #757575;
}
.phone-title a i{
    font-size: 18px;
}
.phone-title a:hover{
    color: orange;
}
.phone-bd{
    width: 100%;
    height: 628px;
    float: left;
}
.phone-bd-special{
    width: 234px;
    height: 614px;
    float: left;
}
.phone-bd-special:hover{
    transition: all 0.2s linear;
    box-shadow:0 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0,-2px,0);
}
.phone-bd-special img{
    width: 234px;
    height: 614px;
}
.phone-bd-list{
    width: 992px;
    height: 614px;
    float: right;
}
.phone-bd-list-item{
    width: 234px;
    height: 300px;
    text-align: center;
    padding-top: 20px;
    margin-left: 14px;
    margin-bottom: 14px;
    float: left;
    background: #fff;
    position: relative;
}
.phone-bd-list-item:hover{
    transition: all 0.2s linear;
    box-shadow:0 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0,-2px,0);
}
.phone-bd-list-item img{
    width: 160px;
    height: 160px;

}
.phone-bd-list-item h3{
    font-size: 14px;
    font-weight: 400;
    margin: 0 20px 3px;
    padding: 10px;
}
.phone-bd-list-item-desc{
    height: 18px;
    font-size: 12px;
    color: #b0b0b0;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 10px 10px;
}
.phone-bd-list-item-price s{
    margin-top: 20px;
    color: #b0b0b0;
}
.phone-bd-list-item-price {
    margin-top: 20px;
    color: #ff6700;
}
.kuang1{
    width: 64px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    background-color: #83c44e;
    position: absolute;
    top: 0;
    left:85px;
}
.kuang2{
    width: 64px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    background-color: #e53935;
    position: absolute;
    top: 0;
    left:85px;
}
/*小米手机部分结束*/
.adv{
    width: 1226px;
    height: 120px;
    margin: 28px auto 22px;
}
.adv img{
    width: 100%;
    height: 100%;
}
.adv:hover{
    cursor: pointer;
}
/*小米首页家电部分开始*/
.house{
    width: 1226px;
    height: 686px;
    margin: 0 auto;
}
.house-title{
    width: 100%;
    height: 58px;
    position: relative;
}
.house-title h3{
    font-family: 华文行楷;
    color: #333;
    font-weight: 200;
    font-size: 22px;
    line-height: 58px;
    float: left;
}
.house-title-more{
    width: 312px;
    height: 64px;
    color: #333;
    position: absolute;
    top:0 ;
    right: 0;
    margin-left: 914px;
    box-sizing: border-box;
}
.house-list{
    margin: 0;
    padding: 16px 0 0;
    list-style-type: none;
    font-size: 16px;
}
.house-list-item{
    margin: 0 0 0 30px;
    float: left;
}
.house-list-item:hover{
    color: #ff6700;
    cursor: pointer;
    border-bottom: 2px solid #ff6700;
}
.house-bd{
    width: 100%;
    height: 628px;
    float: left;
}
.house-bd-special{
    width: 234px;
    height:300px;
    float: left;
}
.house-bd-special img{
    width: 234px;
    height: 300px;
}
.house-bd-special img:hover{
    transition: all 0.2s linear;
    box-shadow:0 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0,-2px,0);

}
.house-bd-list{
    width: 992px;
    height: 614px;
    float: right;
}
.review-wrapper{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 234px;
    height: 75px;
    /*overflow: hidden;*/
    font-size: 12px;
    background: #ff6700;
    opacity: 0;
    transition: all .2s linear;
}
.review{
    color: rgba(255,255,255,0.6);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}
.review-wrapper>a{
    color: #fff;
}
.house-bd-list-item{
    width: 234px;
    height: 300px;
    text-align: center;
    padding-top: 20px;
    margin-left: 14px;
    margin-bottom: 14px;
    float: left;
    background: #fff;
    position: relative;
    box-sizing: border-box;
}
.house-bd-list-item:hover{
    transition: all 0.2s linear;
    box-shadow:0 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0,-2px,0);
    display: inherit;
}
.house-bd-list-item:hover .review-wrapper{
   opacity: 1;
}
.house-bd-list-item-m{
    width: 234px;
    height: 143px;
    background: #fff;
    position: relative;
    float: left;
    padding-top: 50px;
    margin-left: 14px;
    margin-bottom: 14px;
    box-sizing: border-box;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.house-bd-list-item-m:hover{
    transition: all 0.2s linear;
    box-shadow:0 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0,-2px,0);
}
.house-bd-list-item-m h3{
    width: 94px;
    height: 21px;
    margin: -10px 110px 5px 30px;
    font-size: 14px;
    font-weight: 400;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}
.small img{
    width: 80px;
    height: 80px;
    position: absolute;
    right: 20px;
    top: 32px;
}
.min{
    width: 48px;
    height: 48px;
}
.min i{
    width: 48px;
    height: 48px;
    font-size: 48px;
    font-weight: 900;
    position: absolute;
    right: 35px;
    top: 48px;
    color: #ff6700;
    margin: 0 ;
}
.house-bd-list-item-m a{
    width: 94px;
    height: 44px;
    display: block;
    margin: 0 110px 0 30px;
    font-size: 18px;
    color: #333;
}
.house-bd-list-item-m span{
    display: block;
    font-size: 12px;
    color: #757575;
}
.house-bd-list-item-m-price{
    font-size: 14px;
    color: #ff6700;
    margin-left: 30px;
    margin-right: 110px;
}
.house-bd-list-item img{
    width: 160px;
    height: 160px;

}
.house-bd-list-item h3{
    font-size: 14px;
    font-weight: 400;
    margin: 0 20px 3px;
    padding: 10px;
    text-overflow: ellipsis;
}
.house-bd-list-item-desc{
    height: 18px;
    font-size: 12px;
    color: #b0b0b0;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 10px 10px;
}
.house-bd-list-item-price s{
    margin-top: 20px;
    color: #b0b0b0;
}
.house-bd-list-item-price {
    margin-top: 20px;
    color: #ff6700;
}

.hide{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 234px;
    height: 0;
    overflow: hidden;
    font-size: 12px;
    background: #ff6700;
    transition: all .2s linear;
}
/*小米首页家电部分结束*/
/*小米首页智能部分开始*/
.home-box{
    height: 686px;
    /* background: red;*/
    margin: 0 auto;

}
.home-title{
    width: 100%;
    height: 58px;
    /* background: orange;*/
    position: relative;
}
.home-title h3{
    color: #333;
    font-weight: 200;
    font-size: 22px;
    line-height: 58px;
    font-family: 华文行楷;
    float: left;
}
.more{
    position: absolute;
    top: 0;
    right: 0;
}
.more-item{
    padding: 16px 0 0;
    font-size: 16px;
}
.more li{
    margin: 0 0 0 30px;
    padding: 0;
    float: left;
}
/*.hot{*/
    /*color: #ff6700;*/
    /*border-bottom: 2px solid #ff6700;*/
/*}*/
.hot:hover{
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
    cursor: pointer;
}
.home-bd{
    width: 100%;
    height: 628px;
}
.home-bd-special{
    width: 234px;
    height: 614px;
    float: left;

}
.home-bd-special img{
    width: 234px;
    height: 300px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.home-bd-special img:hover{
    transition: all 0.2s linear;
    box-shadow:0 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0,-2px,0);
}
.home-bd-list{
    width:992px;
    height: 614px;
    /*  background: #00a0ce;*/
    float: right;
}
.home-bd-list-item{
    width: 234px;
    height: 300px;
    background: #fff;
    text-align: center;
    box-sizing: border-box;
    margin-left: 14px;
    margin-bottom: 14px;
    float: left;
    padding-top: 20px;
    position: relative;
}
.home-bd-list-item:hover{
    transition: all 0.2s linear;
    box-shadow:0 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0,-2px,0);
    display: inherit;
}
.home-bd-list-item:hover .review-wrapper{
    opacity: 1;
}
.home-bd:hover{
    cursor: pointer;
}
.home-bd-list-special{
    width: 234px;
    height: 143px;
    background: #fff;
    text-align: center;
    box-sizing: border-box;
    margin-left: 14px;
    margin-bottom: 14px;
    float: right;
    padding-top: 20px;
    /* background: purple;*/
}
.home-bd-list-special:hover{
    transition: all 0.2s linear;
    box-shadow:0 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0,-2px,0);
}
.home-bd-list-special h3{
    margin: -60px 125px 5px 30px;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;/*单行文本超出部分省略号表示*/
    text-overflow: ellipsis;/*省略号表示*/
    white-space: nowrap;
}
.home-bd-list-special img{
    width: 80px;
    height: 80px;
    margin-left: 80px ;
}
.home-bd-list-special i{
    color:#ff6700;
    font-size: 48px;
    font-weight: 900;
    line-height: 5px;
    margin:40px -75px 5px 30px;
}
.price5{
    margin: -20px 155px 5px 30px;
    font-size: 12px;
    color: #ff6700;
}
.home-bd-list-item img{
    width: 160px;
    height: 163px;
}
.home-bd-list-item h3{
    font-size: 14px;
    font-weight: 400;
    color: #333;
    margin: 0 20px 3px;
    overflow: hidden;/*单行文本超出部分省略号表示*/
    text-overflow: ellipsis;/*省略号表示*/
    white-space: nowrap;
    padding-top: 10px;
}
.home-bd-list-item h3:hover{
    cursor: pointer;
}
.cha{
    display: block;
    margin: 0 110px 0 30px;
    font-size: 18px;
    color: #333;
}
small{
    display: block;
    font-size: 12px;
    color: #757575;
    margin: -25px 150px 0 30px;
}
.desc2{
    font-size: 12px;
    height: 18px;
    color: #b0b0b0;
    margin: 0 10px 10px;
    overflow: hidden;/*单行文本超出部分省略号表示*/
    text-overflow: ellipsis;/*省略号表示*/
    white-space: nowrap;/*不换行*/
}
.price2{
    color: #ff6709;
    font-size: 14px;
    margin: 0 10px 14px;
}
.price2 s{
    color: #b0b0b0;
}
.flag3{
    width: 64px;
    height: 20px;
    background: #83c44e;
    margin: 0 auto;
    color: #fff;
    position: absolute;
    top:0;
    left: 85px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}
.flag4{
    width: 64px;
    height: 20px;
    background: #e53935;
    margin: 0 auto;
    color: #fff;
    position: absolute;
    top:0;
    left: 85px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}
/*小米首页智能部分结束*/
/*小米首页搭配部分开始*/

/*小米首页搭配部分结束*/
/*小米首页为你推荐开始*/
.flash-shop1{
    width: 1240px;
    height: 100%;
    /* background: pink;*/
    float: left;
}
.flash-shop-item6{
    width: 234px;
    height: 100%;
    background: #fff;
    text-align: center;
    padding-top: 39px;
    box-sizing: border-box;
    margin-right: 14px;
    position: relative;
    float: left;
}
.flash-shop-item6:hover{
    transition: all 0.2s linear;
    box-shadow:0 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0,-2px,0);
}
.flash-shop-item6 img{
    width: 160px;
    height: 160px;
    margin: 0 auto 22px;
}
.flash-shop-item6 h3{
    color: #212121;
    font-size: 14px;
    font-weight: 400;
    margin: 0 20px 3px;
    overflow: hidden;/*单行文本超出部分省略号表示*/
    text-overflow: ellipsis;/*省略号表示*/
    white-space: nowrap;/*不换行*/
}
/*小米首页为你推荐结束*/
/*小米首页热评产品部分开始*/
.flash-box2{
    height:438px;
    /* background: red;*/
    margin: 0 auto;

    margin-top: -50px;
}
.flash-shop7{
    width: 1240px;
    height: 100%;
    /* background: pink;*/
    float: left;

}
.flash-shop-item7{
    position: relative;
    float: left;
    width: 296px;
    height: 415px;
    margin-right: 14px;
    margin-bottom: 14px;
    background: #fff;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.flash-shop-item7:hover{
    transition: all 0.2s linear;
    box-shadow:0 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0,-2px,0);
}
.flash-shop-item7 img{
    width: 296px;
    height: 220px;
    margin: 0 0 28px;
}
.flash-shop-item7 img:hover{
    cursor: pointer;
}
.review{
    margin-bottom: 5px;
    color: #fff;
}
.review:hover{
    cursor: pointer;
}
.author{
    position: relative;
    height: 18px;
    margin: 0 28px 8px;
    padding: 0 10px 0 0;
    font-size: 12px;
    color: #b0b0b0;
    color: rgba(255,255,255,0.6);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.date{
    margin-left: 6px;
}
.info{
    width: 296px;
    height: 22px;
    margin: 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.wu{
    font-size: 14px;
    font-weight: 400;
    margin: 0 20px 3px;
    overflow: hidden;/*单行文本超出部分省略号表示*/
    text-overflow: ellipsis;/*省略号表示*/
    white-space: nowrap;/*不换行*/
    color: #333;
}
.wu a{
    color: #333;
    width: 150px;
    overflow: hidden;/*单行文本超出部分省略号表示*/
    text-overflow: ellipsis;/*省略号表示*/
    white-space: nowrap;/*不换行*/
    float: left;
}
.wu a:hover{
    cursor: pointer;
}
.shu{
    font-family: sans-serif;
    color: #e0e0e0;
}
.shu1{

    font-family: sans-serif;
    color: #e0e0e0;
}
.re-price{
    font-size: 14px;
    color: #ff6700;
}
/*小米首页热评产品部分结束*/
/*小米首页内容部分开始*/
.content-box{
    height: 420px;
    /* background: red;*/
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
}
.content-title{
    width: 100%;
    height: 58px;
    /* background: orange;*/
}
.content-title h3{
    color: #333;
    font-weight: 200;
    font-size: 22px;
    line-height: 58px;
    font-family: 华文行楷;
    float: left;

}
.content-bd{
    width: 1240px;
    height: 420px;

    /*  background: green;*/
}
.content-bd-list-item{

    float: left;
    width: 296px;
    height: 374px;
    padding: 45px 0 0;
    margin-right: 14px;
    margin-bottom: 14px;
    background: #fff;
    position: relative;

}
.content-bd-list-item:hover{
    transition: all 0.2s linear;
    box-shadow:0 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0,-2px,0);
}
.hali{
    border-top: 1px solid #ff6700;
}
.sheng{
    border-top: 1px solid #83c44e;
}
.game{
    border-top: 1px solid #e53935;
}
.jiang{
    border-top: 1px solid #2196f3;
}
.content-bd-list-item img{
    width: 216px;
    height: 154px;
    margin: 10px 38px 18px;
}
.content-bd-list-item h2{
    margin: 0 10px 18px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;

}
.ha{
    color: #ff6700;
}
.one{
    color: #83c44e;
}
.five{
    color: #e53935;
}
.jinmi{
    color: #2196f3;
}
.content-price{
    height: 19px;
    margin: 0 20px 5px;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    text-align: center;
}
.name{
    margin: 0 20px 5px;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}
.content-bd-list-item a{
    color: #333;
}
.content-bd-list-item a:hover{
    cursor: pointer;
}
.name-desc {
    margin: 0 48px 10px;
    height: 40px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    overflow: hidden;
    color: #b0b0b0;
}
.name-desc a{
    color: #b0b0b0;
}
.content-pager{
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 296px;

}
.pagers{
    margin: 0 89px 10px;
}
.pager{
    cursor: default;
    display: inline-block;
    width: 10px;
    height: 10px;
    padding: 10px;
    margin: 0 2px;
}
.pager1{
    display: inline-block;
    width: 10px;
    height: 10px;
    padding: 10px;
    margin: 0 2px;
    cursor: pointer;
}
.pager .dot-content{
    display: block;
    width: 6px;
    height: 6px;
    border: 2px solid #ff6700;
    border-radius: 6px;
    overflow: hidden;
    _zoom: 1;
    -webkit-transition: all .5s;
    transition: all .5s;

}
.pager1 .dot-content1{
    display: block;
    width: 6px;
    height: 6px;
    border: 2px solid #f5f5f5;
    border-radius: 6px;
    text-align: left;
    text-indent: -9999em;
    overflow: hidden;
    _zoom: 1;
    background-color: #b0b0b0;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.content-bd-list-item:hover .content-jiantou{
    display: initial;
    transition: all 0.5s linear;
}
.content-bd-list-item:hover .content-jiantou1{
    display: initial;
    transition: all 0.5s linear;
}
.content-jiantou{
    width: 20px;
    height: 48px;
    background: #e3e3e3;
    position: absolute;
    left: 0;
    top: 186px;
    display: none;
}
.content-left{
    width: 20px;
    height: 48px;
    background-image: url("../img/icon-slides1.png");
    background-position: 50px 0;
}
.content-left:hover{
    background-position: 0 0;
}
.content-jiantou1{
    width: 20px;
    height: 48px;
    background: #e3e3e3;
    position: absolute;
    left: 276px;
    top: 186px;
    display: none;
}
.content-right{
    width: 20px;
    height: 48px;
    background-image: url("../img/icon-slides1.png");
    background-position:26px 0;
}
.content-right:hover{
    background-position:276px 0;
}
/*小米首页内容部分结束*/
/*小米首页视频部分开始*/
.flash-box3{
    height:285px; /* background: red;*/
    margin: 0 auto;
    margin-top: -50px;
}
.flash-shop8{
    width: 1240px;
    height: 100%;
    /* background: pink;*/
    float: left;

}
.flash-shop-item8{
    position: relative;
    float: left;
    width: 296px;
    height: 285px;
    margin-right: 14px;
    margin-bottom: 14px;
    background: #fff;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.flash-shop-item8:hover{
    transition: all 0.2s linear;
    box-shadow:0 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0,-2px,0);
}
.flash-shop-item8 img{
    width: 296px;
    height: 180px;
    margin: 0 0 28px;
}
.flash-shop-item8 img:hover{
    cursor: pointer;
}
.video{
    margin: 0 0 6px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #333;
}
.video-item{
    text-align: center;
    height: 18px;
    margin: 0;
    font-size: 12px;
    color: #b0b0b0;
}
/*小米首页视频部分结束*/
/*小米首页底部部分开始*/
.footer{
    width: 100%;
    height: 272px;
    background: #fff;
    margin-top:250px ;
    /*padding: 200px 0 10px;*/
}
.footer-service{
    width: 1226px;
    height: 80px;
    margin: 0 auto;
    padding: 27px 0;
    box-sizing: border-box;
    background:#fff;
    border-bottom: 1px solid #e2e5e6;
}
.service-list{
    width: 1226px;
    height: 25px;
    background: #fff;
    text-align: center;
    float: left;
    font-size: 12px;
}
.service-list-item{
    width: 242px;
    height:25px;
    border-right: 1px solid #e0e0e0;
    line-height: 25px;
    font-size: 16px;
    box-sizing: border-box;
    color: #616161;
    float: left;
    cursor:pointer;/*将鼠标移入的样式改变成手*/
    padding-left: 60px;
}
.service-list-item i{
    font-size: 22px;
}
.service-list-item a{
    color: #616161;
    float: left;
    text-align: center;
}
.service-list-item a:hover{
    color: #ff6700;
}
.footer-link{
    width: 1226px;
    height: 192px;
    margin: 0 auto;
    padding:40px 0;
    box-sizing: border-box;
}
.link-first{
    float: left;
    width: 160px;
    height: 112px;
    margin: 0;
}
.link-first dt{
    margin: -1px 0 26px;
    font-size: 14px;
    color: #424242;
}
.link-first dd{
    margin: 10px 0 0;
    font-size: 12px;
    cursor:pointer;/*将鼠标移入的样式改变成手*/
}
.link-first dd:hover{
    color: orange;
}
.contact{
    float: right;
    width: 251px;
    height: 112px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
}
.phone{
    margin: 0 0 5px;
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
}
.date{
    margin: 0 0 16px;
    font-size: 12px;
}
.btn-contact{
    width: 120px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    background: #fff;
    color: #ff6700;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: 1px solid #ff6700;
    cursor: pointer;
}
.btn-contact:hover{
    background: #ff6700;
    color: #ffffff;
}
.footer-bg{
    width: 100%;
    height: 165px;
    background: #fafafa;
    padding: 30px 0;
}
.footer-info{
    width: 1226px;
    height: 88px;
    margin: 0 auto;
    position: relative;
}
.info-img{
    width: 57px;
    height: 57px;
    float: left;
}
.text{
    width: 1157px;
    height: 88px;
    margin: 0 auto;
    float: right;
    font-size: 12px;
}
.xia{
    color: #b0b0b0;
}
.text a{
    color: #757575;
}
.xia a{
     color: #b0b0b0;
 }
.text a:hover{
    color: #ff6700;
}
.tu{
    width: 1226px;
    height: 28px;
    /*background: #f5f5f5;*/
    padding-left: 65px;
    font-size:12px;
    box-sizing: border-box;
    margin: 0 auto;
}
.tu img{
    width: auto;
    height: 28px;
    background: #f5f5f5;
    margin-left: 0px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
.heikeji{
    clear: both;
    margin: 30px auto 0;
    width: 267px;
    height: 19px;
    background: url(../img/slogan2016.png) no-repeat center 0;
}
/*小米首页底部部分结束*/